<html ng-app="app">
  <body>
    <head>
      <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.0/angular.min.js"></script>
      <script type="text/javascript" src="app.js"></script>
    </head>
    <div ng-controller="MainController">
      <!-- track by $index to be able to repeat same elements -->
      <div ng-repeat="element in myarr track by $index">
        {{ element }}
      </div>

      <div ng-repeat-start="user in users">
        <strong>{{ user.name }}</strong>: {{ user.age }}
      </div>
      <hr ng-repeat-end />
<!-- object itteration -->
      <div ng-repeat="attr in ob">{{attr}}</div>
    </div>
  </body>
</html>